.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container h2 {
  color: black;
  font-size: 40px;
  text-align: center;
  padding-top: 40px;
}

.login-container label {
  font-size: 20px;
  padding-right: 10px;
}

.login-container .form-group {
  display: grid;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.login-container input {
  padding: 10px;
}

.login-btn {
  display: flex;
  justify-content: end;

}

.login-btn button {
  padding: 5px 20px;
}






/* --------------------------------------------sidebar-------------------------- */



.sidebar {
  width: calc(10% - 40px);
  height: 100vh;
  display: grid;
  background-color: rgb(3, 3, 46);
  color: white;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar div {
  max-height: 200px;
  display: grid;
}




/* --------------------------------------------about-------------------------- */

.about-container {
  display: flex;
}

.about-container form {
  padding: 20px;
  margin-left: 130px;
}

.about-container form label {
  padding: 10px 0;
}

.about-container form div {
  display: grid;
}

.about-container input,
.about-container textarea {
  width: 300px;
  padding: 10px;

}

.about-container .submit-btn {
  margin-top: 10px;
  background-color: rgb(15, 15, 101);
  width: 100px;
  color: white;
  font-size: 16px;
  padding: 10px;
}

.about-container .submit-btn:hover {
  background-color: rgb(22, 22, 160);
  cursor: pointer;
}







/* --------------------------------------------career-------------------------- */
.career-container {
  /* display: flex; */
}

.career-container form {
  width: 50%;
  padding: 20px;
  margin-left: 130px;
}

.career-container form label {
  padding: 10px 0;
}

.career-container form .form-group {
  display: grid;
}

.form-group-quill {
  margin-bottom: 60px;
}

.career-container input,
.career-container select {
  width: 300px;
  padding: 10px;
}

.career-container button {
  margin-top: 10px;
  background-color: rgb(15, 15, 101);
  width: 100px;
  color: white;
  font-size: 16px;
  padding: 10px;
}